Repository bbddmm/rag-poc: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, oxfmt, markdownlint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    oxlint:
      glob: "*.{js,jsx,ts,tsx,mjs,cjs}"
      run: pnpm exec oxlint {staged_files}
    oxfmt:
      glob: "*.{js,jsx,ts,tsx,mjs,cjs,json,jsonc}"
      run: pnpm exec oxfmt --check {staged_files}
    markdownlint:
      glob: "*.md"
      run: pnpm exec markdownlint-cli2 {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit {1}

feat: vscode設定ファイルを追加
  .vscode/extensions.json
  .vscode/settings.json
Due: oxfmt

feat: npm使用を禁止しpnpmのみ許可する設定を追加
  .npmrc
  package.json
Due: oxfmt

style: フォーマットを修正
  .oxlintrc.json
  AGENTS.md
  aqua.yaml
Due: oxfmt, markdownlint

style: skill-creatorのMarkdownフォーマットを修正
  .opencode/skills/skill-creator/SKILL.md
  .opencode/skills/skill-creator/references/output-patterns.md
  .opencode/skills/skill-creator/references/workflows.md
Due: markdownlint

docs: アーキテクチャ情報をAGENTS.mdに追加
  .markdownlint-cli2.yaml
  AGENTS.md
  apps/backend/AGENTS.md
  apps/frontend/AGENTS.md
  apps/infra/AGENTS.md
Due: markdownlint

feat: パッケージ追加スキルの作成とPython・markdownlint設定追加
  .markdownlint-cli2.yaml
  .opencode/skills/add-package/SKILL.md
  AGENTS.md
  mise.toml
Due: markdownlint

feat: pr-creatorスキルに事前チェック・コンフリクト解消手順を追加
  .opencode/skills/pr-creator/SKILL.md
Due: markdownlint

chore: commitlintのsubject-caseルールを無効化
  .opencode/skills/pr-creator/SKILL.md
  commitlint.config.mjs
Due: oxlint, oxfmt, markdownlint

feat: コードレビュースキルの作成
  .opencode/skills/code-review/SKILL.md
  .opencode/skills/code-review/references/backend.md
  .opencode/skills/code-review/references/frontend.md
  .opencode/skills/code-review/references/infra.md
Due: markdownlint

docs: AGENTS.mdの開発ワークフローをスキル参照に簡略化
  AGENTS.md
Due: markdownlint

feat: dev-workflowにセルフレビューステップを追加
  .opencode/skills/code-review/SKILL.md
  .opencode/skills/dev-workflow/SKILL.md
Due: markdownlint

chore: VSCode推奨拡張機能を整理
  .vscode/extensions.json
Due: oxfmt

fix: code-reviewスキルのbash誤検知を回避
  .opencode/skills/code-review/SKILL.md
Due: markdownlint

feat: dev-workflowの作業開始前にpnpm installステップを追加
  .opencode/skills/dev-workflow/SKILL.md
Due: markdownlint

feat: monorepo対応のoxlint nested config構成を追加
  apps/backend/.oxlintrc.json
  apps/frontend/.oxlintrc.json
Due: oxfmt

feat: monorepo対応のoxlint nested config構成を追加（extends使用）
  .oxlintrc.json
  apps/backend/.oxlintrc.json
  apps/frontend/.oxlintrc.json
  configs/oxlint-base.json
Due: oxfmt
